## **Datos**
---

### **Adquisición de Datos**
---

In [1]:
!chmod 600 ~/.kaggle/kaggle.json
!kaggle datasets download -d adityajn105/flickr8k -p ../../src/database

Dataset URL: https://www.kaggle.com/datasets/adityajn105/flickr8k
License(s): CC0-1.0
flickr8k.zip: Skipping, found more recently modified local copy (use --force to force download)

### **Unzip Archivos**
---

In [2]:
import zipfile

# Descomprimir el archivo
with zipfile.ZipFile('../../src/database/flickr8k.zip', 'r') as zip_ref:
    zip_ref.extractall('../../src/database/flickr8k')

### **Exploración archivos**
---

In [3]:
import os
os.listdir('../../src/database/flickr8k')

['captions.txt', 'Images']

In [4]:
import pandas as pd # type: ignore

image_path = '../../src/database/flickr8k/Images'
data = pd.read_csv('../../src/database/flickr8k/captions.txt')
data.head()

,image,caption
0,1000268201_693b08cb0e.jpg,A child in a pink dress is climbing up a set o...
1,1000268201_693b08cb0e.jpg,A girl going into a wooden building .
2,1000268201_693b08cb0e.jpg,A little girl climbing into a wooden playhouse .
3,1000268201_693b08cb0e.jpg,A little girl climbing the stairs to her playh...
4,1000268201_693b08cb0e.jpg,A little girl in a pink dress going into a woo...